@charset "utf-8";

/* Global Styles */
body {
    margin: 0;
    font-family: "Playfair Display", serif;
	align-items: center;
	justify-content: center;
	height: 100vh;
	min-width: 0;
	background: #000614;
	background-image: url('../images/background.jpeg');
    background-size: cover;
    background-position: left;
    backdrop-filter: blur(4px);
    padding: 5vh 5% 5vh 5%;
}

.playfair_display_text {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400; /* 400 - 900 */
    font-style: normal;
}

/* Plans Section */
.plans {
    color: #000;
    margin-top: 20px;
    text-align: left;
    background-color: #ffffff; /* Adjust footer background color */
    font-weight: 600; /* 400 - 900 */
    border-radius: 2px;
    font-size: xx-large;
    padding: 1em 0.7em 1em 0.7em;
}

.plan-list {
    margin-top: 5px;
    padding: 15px 10px 15px 0;
    font-weight: 600; /* 400 - 900 */
    font-size: large;
    transition: border-bottom 0.3s ease, box-shadow 0.3s ease; /* Transition for border and shadow */
    transition: all 0.1s ease-in-out;
    box-shadow: none; /* Initial no shadow */
}

.plan-list:hover{
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1); /* Shadow on hover */
    transform: translate(-5px, -5px); /* Slide effect */
}

.plan-description {
    margin-top: 5px;
    font-size: medium;
    font-weight: 400; /* 400 - 900 */
}

.no{
    font-style: normal;
    color: #000;
    text-decoration: line-through;
    text-decoration-color: #000;
    background: #000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.plan-price {
    padding-top: 0.5em;
    padding-left: 1em;
    font-style: normal;
    background: linear-gradient(to right, #ff3e0e, #322bff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

/* Reviews Section */
.reviews {
    color: #000;
    margin-top: 20px;
    text-align: left;
    background-color: #ffffff; /* Adjust footer background color */
    font-weight: 600; /* 400 - 900 */
    border-radius: 2px;
    font-size: xx-large;
    padding: 1em 0.7em 1em 0.7em;
}

.review-list {
    margin-top: 20px;
    font-weight: 600; /* 400 - 900 */
    font-size: large;
    padding-bottom: 10px;
    border-bottom: 2px solid black; /* Adding a black bottom border */
}

.review-description {
    margin-top: 5px;
    font-size: small;
    font-weight: 400; /* 400 - 900 */
}

/* Footer */
footer {
    margin-top: 20px;
    text-align: left;
    background-color: #ffffff; /* Adjust footer background color */
    padding: 1em 1em 4em 1em;
    border-radius: 2px;
    font-size: xx-large;
    padding: 1em 0.7em 1em 0.7em;
    font-weight: 600; /* 400 - 900 */
}

.title{
    font-size: xx-large;
    font-weight: 400; /* 400 - 900 */
}
.subtitle{
    margin-top: -2em;
    font-size: medium;
    font-weight: 400; /* 400 - 900 */
}

.discover{
    color: #000;
    margin-top: 20px;
    text-align: left;
    background-color: #ffffff; /* Adjust footer background color */
    font-weight: 400; /* 400 - 900 */
    border-radius: 2px;
    font-size: medium;
    padding: 1em 1.5em 2em 1.5em;
}

li{
    margin-left: 1em;
}

a{
    text-decoration: none;
}

.gradient-link {
    background: linear-gradient(to right, #ff3e0e, #322bff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

/* Reset animation on hover */
.gradient-link:hover {
    animation: none;
}

.apply{
    color: #000;
    margin-top: 20px;
    text-align: left;
    background-color: #ffffff; /* Adjust footer background color */
    font-weight: 600; /* 400 - 900 */
    border-radius: 2px;
    font-size: xx-large;
    padding: 1em 0.7em 1em 0.7em;
}